<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BLANK.Item.Name'}}"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>

    <div class="items-block">
      <div class="item-header">
        <a class="item-create" title="{{localize 'BLANK.Item.Add'}}" data-type="item"><i class="fas fa-plus"></i></a>
        <h3>{{localize 'TYPES.Item.item'}}</h3>
      </div>
      <ol class="items-list">
        {{#each item as |item id|}}
          <li class="item {{item.type}}" data-item-id="{{item._id}}">
            <div class="item-description">
              <span class="item-name">{{item.name}}</span>
            </div>

            <div class="item-summary">
              {{{item.system.description}}}
            </div>

            <div class="item-controls">
              <a class="item-control item-show" title="{{localize 'BLANK.Item.Show'}}"><i class="fa fa-comment"></i></a>
              <a class="item-control item-edit" title="{{localize 'BLANK.Item.Edit'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'BLANK.Item.Delete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="description">
      <h3>{{localize 'BLANK.Description'}}</h3>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
    </div>

  </section>
</form>
