<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  <div class="limited-sheet">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="limited-info">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div>
        <h2>{{localize 'ARCHETERICALITE.Appearance'}}</h2>
        {{editor system.description.appearance target="system.description.appearance" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="general-info">
      <h2>{{localize 'ARCHETERICALITE.GeneralInformation'}}</h2>
      {{editor system.description.general target="system.description.general" button=true owner=owner editable=editable}}
    </div>
  </div>

</form>
